body {
  margin: 0 auto;
}

#canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

h1, p {
  text-align: center;
}

button {
  width: 400px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}
